<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bridge.soom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.bridge.soom.permission.RECEIVE" />
    <uses-permission android:name="com.bridge.soom.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.bridge.soom.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:parentActivityName=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.LoginActivity" />
        </activity>
        <activity
            android:name=".Activity.RegistrationFillActivity"
            android:label="@string/title_activity_registration_fill"
            android:parentActivityName=".Activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.RegistrationActivity" />
        </activity>
        <activity
            android:name=".Activity.VerificationActivty"
            android:label="@string/title_activity_verification_activty"
            android:parentActivityName=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.LoginActivity" />
        </activity>

        <!-- <receiver -->
        <!-- android:name=".GCM.GcmBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- <category android:name="" /> -->
        <!-- </intent-filter> -->


        <!-- </receiver> -->


        <!-- <service android:name=".GCM.GcmIntentService" /> -->

        <activity
            android:name=".Activity.RegistrationPVRActivity"
            android:label="@string/title_activity_registration_pvr"
            android:parentActivityName=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.LoginActivity" />

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".Activity.RegistrationPVRDetailesActivity"
            android:label="@string/title_activity_registration_pvrdetailes"
            android:parentActivityName=".Activity.RegistrationPVRActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.RegistrationPVRActivity" />
        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ProviderDetailsActivity"
            android:label="@string/title_activity_provider_details"
            android:parentActivityName=".Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Activity.FilterActivity"
            android:label="@string/title_activity_filter"
            android:parentActivityName=".Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".Activity.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.ItemListActivity" />
        </activity>
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activity.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.HomeActivity" />
        </activity>
        <activity
            android:name=".Activity.ChangePaswordActivity"
            android:label="@string/title_activity_change_pasword"
            android:parentActivityName=".Activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.MoreActivity"
            android:label="@string/title_activity_more"
            android:parentActivityName=".Activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bridge.soom.Activity.ProfileActivity" />
        </activity>
    </application>

</manifest>